In [399]:
import pandas as pd
import numpy as np

In [400]:
df = pd.read_csv('Data_Dictionary_for_CSV_2022_10_10.csv')

In [401]:
df

,data_source_title,report_type_title,field_title,sql_field_name,api_field_name
0,ACME,Transactions,Payment Status,payment_status,PaymentStatus
1,ACME,Transactions,Payment Method,payment_method,PaymentMethod
2,ACME,Transactions,Payment Due Date,payment_due_date,PaymentDueDate
3,ACME,Transactions,Parent Transaction Id,parent_transaction_id,ParentTransactionId
4,ACME,Transactions,OrderItem Type,orderitem_type,OrderItemType
...,...,...,...,...,...
31090,Zignal Labs,Newsroom Stories,Story Id,story_id,_id
31091,Zignal Labs,Newsroom Stories,Language,language,language
31092,Zignal Labs,Newsroom Stories,Gender,gender,gender
31093,Zignal Labs,Newsroom Stories,Potential Impressions,potential_impressions,potential_impressions
31094,Zignal Labs,Newsroom Stories,Influence,influence,influence

In [402]:
len_df = len(df)

In [403]:
# "channel|type|status|method|date|sentiment|url|id|num|name|code|city|time|last|subject|dayofweek|dayofmonth|data|os|origin|title|link|when|browser|ip|detail|utc|currency|weekday|system|source|region|country|domain|platform|group|campaign|token|language|color|carrier|dma|java|latlon|category|engine|company|rank|service|state|server|agent|hash|keyword|tactic|usd|policy|brand|condition|local|version|key|format|area"
#     )

In [404]:
metrics = '''
            metric
            rate
            sum
            value
            clicks
            opens
            Amount
            Quantity
            Balance
            replies
            forwards
            unsubscribes
            shares
            sends
            bounces
            expands
            impressions
            starts
            bids
            ends
            views
            rating
            tags
            count
            score
            Visits
            bounces
            conversions
            ratio
            total
            revenue
            tweets
            retweets
            evar
            post
            prop
            cost
            sessions
            budget
            installs
            calls
            percent
            mean
            average
            completions
            price sales interactions complections measures reattributions engagements actions competitors units
            followers visitors users emails employees custom subscriptions
            '''.lower().split()

In [405]:
def find_metrics(row):
    for metric in metrics:
        if metric in row['api_field_name'].lower():
            return 'metric'
        if metric in row['sql_field_name'].lower():
            return 'metric'

In [406]:
df['type'] = df.apply(find_metrics, axis=1)

In [407]:
part_metrics = df['type'].value_counts()/len_df*100

In [408]:
part_metrics

metric    53.355845
Name: type, dtype: float64

In [409]:
print(int(round(part_metrics)))

53